* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: #4b5162;
    color: white;
    font-family:"JetBrains Mono";
}

#window {
    font-weight: bold;
}

#workspaces button {
    padding: 0px 5px;

    background: #404452;
    color: white;
    border-top: 2px solid white;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #backlight, #custom-weather, #tray {
    padding: 0 3px;
    margin: 0 2px;
    /*color:#44bffb;*/
    color:white;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

