@font-face{
	font-family:JB;
	src:url("./JB-Mono.ttf");
}
window {
	margin:5px;
	background-color:#404452;
	border-radius:10px;
	font-family:"JetBrains Mono";
}

#outer-box{
	background-color:#404452;
	border-radius:10px;
}

#inner-box{
	margin:5px;
	color:white;
	border-radius:7px;
}

#input{
	background-color:#404452;
	color:white;
	border-radius:5px;
	border:3px solid #33afea;
	margin:5px;

#text{
	background-color:white;
}

#entry{
	border-radius:6px;
}
#entry:selected{
	border-radius:5px;
	background-color:#33afea;
}
